.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
docs/**
.github/**
test/**
**.code-workspace
webpack.config.js
stryker.config.json
**/*.js.map